<!DOCTYPE HTML>
<html lang="{{.Translation.Language}}">

<head>
  <title>WriterGo!</title>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow"/>
  <meta name="author" content="Marcus Soll"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="author" href="https://msoll.eu/">
  <link rel="stylesheet" href="/css/quill.snow.css">
  <link rel="stylesheet" href="/css/vs2015.css">
  <link rel="stylesheet" href="/css/writergo.css">
  <script src="/js/highlight.pack.js"></script>
  <script src="/js/quill.js"></script>
  <script src="/js/image-resize.min.js"></script>
  <link rel="icon" type="image/vnd.microsoft.icon" href="/static/favicon.ico">
</head>

<body>
  <header>
    <div style="margin-left: 1%">
      WriterGo!
    </div>
  </header>

  <div class="message">
      <p>{{.Translation.NoSave}}</p>
  </div>

  <div id="app">
      <p>{{.Translation.ConnectedUser}}: <input id="user" type="text" readonly></p>
      <h1 class="offline">{{.Translation.ConnectionLost}}</h1>
      <div id="editor"></div>
      <h1 class="offline">{{.Translation.ConnectionLost}}</h1>
      <p><button id="active">{{.Translation.ButtonActive}}</button></p>
  </div>

  <footer>
    <div>
      {{.Translation.CreatedBy}} <a href="https://msoll.eu/" target="_blank"><u>Marcus Soll</u></a> - <a href="/impressum.html" target="_blank"><u>{{.Translation.Impressum}}</u></a> - <a href="/dsgvo.html" target="_blank"><u>{{.Translation.PrivacyPolicy}}</u></a>
    </div>
  </footer>

  <script>
    function setOffline(b) {
      var e = document.getElementsByClassName("offline");
      for(var i = 0; i < e.length; i++) {
        if(b) {
          e[i].removeAttribute('hidden');
        } else {
          e[i].hidden = true;
        }
      }
    }

    var quill = new Quill('#editor', {
      theme: 'snow',
      modules: {
        syntax: true,
        imageResize: {},
        toolbar: [
              [{ 'header': [1, 2, 3, false] }],
              ['bold', 'italic', 'underline', 'strike'],
              ['blockquote', 'code-block'],
              [{ 'list': 'ordered' }, { 'list': 'bullet' }],
              [{ 'script': 'sub' }, { 'script': 'super' }],
              [{ 'indent': '-1' }, { 'indent': '+1' }],
              [{ 'color': [] }, { 'background': [] }],
              [{ 'align': [] }],
              ['clean'],
              ['link', 'image']
            ]
      }
    });
    quill.disable();
    
    var active = false;
    var changed = false;

    var hostname = window.location.hostname;
    var path = window.location.pathname;
    var port = window.location.port;
    var protocol = window.location.protocol === 'https:' ? 'wss' : 'ws';
    var ws = new WebSocket(protocol + '://' + hostname + ":" + port + path + "?ws=1");

    ws.onclose = function () {
      setOffline(true);
      document.getElementById("user").value = "";
      document.getElementById("active").disabled = true;
      quill.disable();
    };

    ws.onopen = function() {
      setOffline(false);
    };

    ws.onmessage = function(event){
      var data = JSON.parse(event.data);
      if(data.Comm === "get_initial") {
        try {
          ws.send(JSON.stringify({"Comm": "current_state", "Data": JSON.stringify(quill.getContents())}));
        } catch (e) {
          console.log(e);
          ws.close();
        }
      }
      if(data.Comm === "state") {
        try {
          if(!active && data.Data != "") {
            var content = JSON.parse(data.Data)
            quill.setContents(content);
            changed = false;
          }
        } catch (e) {
          console.log(e);
          ws.close();
        }
      }
      if(data.Comm === "number_user") {
        try {
          document.getElementById("user").value = data.Data;
        } catch (e) {
          console.log(e);
          ws.close();
        }
      }
      if(data.Comm === "can_not_write") {
        try {
          changed = true;
          quill.disable()
          pushState();
          active = false;
          document.getElementById("active").removeAttribute("disabled");
        } catch (e) {
          console.log(e);
          ws.close();
        }
      }
      if(data.Comm === "can_write") {
        try {
          quill.enable()
          active = true;
          changed = true;
          pushState();
        } catch (e) {
          console.log(e);
          ws.close();
        }
      }
    };

    window.onbeforeunload = function(e) {
      if(quill.getText() !== "\n") {
        e.preventDefault();
        e.returnValue = '';
      }
    };

    window.onunload = function(){
      try{
        ws.close(1001);
      } catch {}
    };

    function pushState() {
      if(active && changed) {
        ws.send(JSON.stringify({"Comm": "state", "Data": JSON.stringify(quill.getContents())}));
        changed = false;
      }
    }

    quill.on('text-change', function(e){
      changed = true;
    });

    document.getElementById("active").addEventListener("click", function(){
      document.getElementById("active").disabled = true; 
      try{
        ws.send(JSON.stringify({"Comm": "write"}));
      } catch (e) {
        console.log(e);
        ws.close();
      }
      });

    setInterval(pushState, {{.SyncTime}});
  </script>
</body>

</html>
