<!DOCTYPE HTML>
<html lang="{{.Translation.Language}}">

<head>
  <title>WriterGo!</title>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow"/>
  <meta name="author" content="Marcus Soll"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="author" href="https://msoll.eu/">
  <link rel="stylesheet" href="{{.ServerPath}}/css/katex.min.css">
  <link rel="stylesheet" href="{{.ServerPath}}/css/vs2015.min.css">
  <link rel="stylesheet" href="{{.ServerPath}}/css/quill.snow.css">
  <link rel="stylesheet" href="{{.ServerPath}}/css/writergo.css">
  <script src="{{.ServerPath}}/js/katex.min.js"></script>
  <script src="{{.ServerPath}}/js/highlight.min.js"></script>
  <script src="{{.ServerPath}}/js/quill.min.js"></script>
  <script src="{{.ServerPath}}/js/image-resize.min.js"></script>
  <script src="{{.ServerPath}}/js/QuillDeltaToHtmlConverter.bundle.js"></script>
  <link rel="icon" type="image/vnd.microsoft.icon" href="{{.ServerPath}}/static/favicon.ico">
  <link rel="icon" type="image/svg+xml" href="{{.ServerPath}}/static/Logo.svg" sizes="any">
</head>

<body>
  <header>
    <div style="margin-left: 1%">
      WriterGo!
    </div>
  </header>

  <div class="message">
      <p>{{if .PermanentSave}}<strong>{{.Translation.Save}}</strong>{{else}}{{.Translation.NoSave}}{{end}}</p>
      <p>{{.Translation.OneUser}}</p>
  </div>

  <div id="app">
      <p>{{.Translation.ConnectedUser}}: <input id="user" type="text" readonly></p>
      <h1 class="offline">{{.Translation.ConnectionLost}}{{if not .PermanentSave}} {{.Translation.ConnectionLostNotPermanentlySavedBrackets}}{{end}}.</h1>
      <div id="editor"></div>
      <h1 class="offline">{{.Translation.ConnectionLost}}{{if not .PermanentSave}} {{.Translation.ConnectionLostNotPermanentlySavedBrackets}}{{end}}.</h1>
      <p><button id="active">{{.Translation.ButtonActive}}</button> <button id="downloadHTML">{{.Translation.ButtonDownloadHTML}}</button> <button id="downloadDelta">{{.Translation.ButtonDownloadDelta}}</button></p>
      <p><input type="file" id="uploadDelta" disabled/> <button id="uploadDeltaButton" disabled>{{.Translation.ButtonUploadDelta}}</button></p>
  </div>

  <footer>
    <div>
      {{.Translation.CreatedBy}} <a href="https://msoll.eu/" target="_blank"><u>Marcus Soll</u></a> - <a href="{{.ServerPath}}/impressum.html" target="_blank"><u>{{.Translation.Impressum}}</u></a> - <a href="{{.ServerPath}}/dsgvo.html" target="_blank"><u>{{.Translation.PrivacyPolicy}}</u></a>
    </div>
  </footer>

  <script>
    function validateDelta(delta) {
      if(!delta.ops) {
        return 'ops missing'
      }
      for(var i = 0; i < delta.ops.length; i++) {
        if(!delta.ops[i].insert) {
          return 'no insert'
        }
        if(delta.ops[i].delete) {
          return 'delete not allowed'
        }
        if(delta.ops[i].retain) {
          return 'retain not allowed'
        }
        if(i == delta.ops.length -1 && !delta.ops[i].insert.endsWith('\n')) {
          return 'no \\n at end'
        }
      }
      return null
    }

    function setOffline(b) {
      var e = document.getElementsByClassName("offline");
      for(var i = 0; i < e.length; i++) {
        if(b) {
          e[i].removeAttribute('hidden');
        } else {
          e[i].hidden = true;
        }
      }
    }

    var quill = new Quill('#editor', {
      theme: 'snow',
      modules: {
        syntax: true,
        imageResize: {},
        toolbar: {
          container: [
              [{ 'header': [1, 2, 3, false] }],
              ['bold', 'italic', 'underline', 'strike'],
              ['blockquote', 'code-block'],
              [{ 'list': 'ordered' }, { 'list': 'bullet' }],
              [{ 'script': 'sub' }, { 'script': 'super' }],
              [{ 'indent': '-1' }, { 'indent': '+1' }],
              [{ 'color': [] }, { 'background': [] }],
              [{ 'align': [] }],
              ['clean'],
              ['formula', 'image', 'link']
            ],
          handlers: {
            'markdown': function () {}
          }
        }
      }
    });
    quill.disable();
    
    var active = false;
    var changed = false;

    // Ensure it is not cached that these elements are enabled
    document.getElementById("uploadDeltaButton").disabled = true;
    document.getElementById("uploadDelta").disabled = true;

    function enableUpload() {
      if(!active || document.getElementById("uploadDelta").files.length === 0) {
          document.getElementById("uploadDeltaButton").disabled = true;
        } else {
          document.getElementById("uploadDeltaButton").removeAttribute("disabled");
        }
    }

    var hostname = window.location.hostname;
    var path = window.location.pathname;
    var port = window.location.port;
    var protocol = window.location.protocol === 'https:' ? 'wss' : 'ws';
    var ws = new WebSocket(protocol + '://' + hostname + ":" + port + path + "?ws=1");

    ws.onclose = function () {
      setOffline(true);
      document.getElementById("user").value = "";
      document.getElementById("active").disabled = true;
      quill.disable();
    };

    ws.onopen = function() {
      setOffline(false);
    };

    ws.onmessage = function(event){
      var data = JSON.parse(event.data);
      if(data.Comm === "state") {
        try {
          if(!active && data.Data != "") {
            var content = JSON.parse(data.Data)
            var err = validateDelta(content);
            if(err !== null) {
              alert(err);
              ws.close(4000, err.substring(0, 50))
              return;
            }
            quill.setContents(content);
            changed = false;
          }
        } catch (e) {
          console.log(e);
          ws.close(4000, e.toString().substring(0, 40));
        }
      }
      if(data.Comm === "number_user") {
        try {
          document.getElementById("user").value = data.Data;
        } catch (e) {
          console.log(e);
          ws.close(4000, e.toString().substring(0, 40));
        }
      }
      if(data.Comm === "can_not_write") {
        try {
          changed = true;
          quill.disable()
          pushState();
          active = false;
          document.getElementById("active").removeAttribute("disabled");
          document.getElementById("uploadDeltaButton").disabled = true;
          document.getElementById("uploadDelta").disabled = true;
        } catch (e) {
          console.log(e);
          ws.close(4000, e.toString().substring(0, 40));
        }
      }
      if(data.Comm === "can_write") {
        try {
          quill.enable()
          active = true;
          changed = true;
          document.getElementById("uploadDelta").removeAttribute("disabled");
          enableUpload();
          pushState();
        } catch (e) {
          console.log(e);
          ws.close(4000, e.toString().substring(0, 40));
        }
      }
    };

    {{if not .PermanentSave}}
    window.onbeforeunload = function(e) {
      if(quill.getText() !== "\n") {
        e.preventDefault();
        e.returnValue = '';
      }
    };
    {{end}}

    function pushState() {
      if(active && changed) {
        ws.send(JSON.stringify({"Comm": "state", "Data": JSON.stringify(quill.getContents())}));
        changed = false;
      }
    }

    quill.on('text-change', function(e){
      changed = true;
    });

    document.getElementById("active").addEventListener("click", function(){
      document.getElementById("active").disabled = true; 
      try{
        ws.send(JSON.stringify({"Comm": "write"}));
      } catch (e) {
        console.log(e);
        ws.close(4000, e.toString().substring(0, 40));
      }
      });

      var downloadLink = document.createElement('a');
      
      document.getElementById("downloadHTML").addEventListener("click", function(){
        var delta = quill.getContents();
        var converter = new window.QuillDeltaToHtmlConverter(delta.ops, {});
        var html = converter.convert();
        html = '<!DOCTYPE HTML><html lang="{{.Translation.Language}}"><head><meta charset="UTF-8"><style>@font-face{font-family:"Oxygen";src:local("Oxygen Regular"),local("Oxygen-Regular")}html{font-family:"Oxygen",sans-serif;line-height:1.3;hyphens:auto;height:100%;}@media print{html{font-size:11px;-webkit-print-color-adjust:exact;color-adjust:exact;}}ul{list-style-type:disc;}a{color:#06c;}a:visited{color:#06c;}pre{color:whitesmoke;background-color:darkslategrey;padding:1em;}blockquote{border-left:0.5em solid grey;padding-left:1em;margin-left:1em;}</style></head><body>' + html + '</body></html>'
        downloadLink.href = window.URL.createObjectURL(new Blob([html], {type: ' text/html'}));
        downloadLink.download = location.pathname.split("/").slice(-1)[0] + ".html"
        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);
      });

      document.getElementById("downloadDelta").addEventListener("click", function(){
        var delta = quill.getContents();
        delta = JSON.stringify(delta);
        downloadLink.href = window.URL.createObjectURL(new Blob([delta], {type: ' text/plain'}));
        downloadLink.download = location.pathname.split("/").slice(-1)[0] + ".delta"
        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);
      });

      document.getElementById("uploadDeltaButton").addEventListener("click", function(){
        if(!active) {
          return;
        }
        if(document.getElementById("uploadDelta").files.length === 0) {
          return;
        }
        var file = document.getElementById("uploadDelta").files[0];
        var reader = new FileReader();

        reader.addEventListener('load', function(e) {
    	    var delta = e.target.result;
          try {
            delta = JSON.parse(delta);
          } catch (e) {
            alert("Can not read delta");
            return;
          }
          var err = validateDelta(delta);
          if(err !== null) {
            alert(err);
            return;
          }
          if(!active) {
            return;
          }
          quill.setContents(delta);
          changed = true;
	      });

        reader.addEventListener('error', function() {
	        alert('Error');
	      });

        reader.readAsText(file);

        document.getElementById("uploadDelta").value = "";
        enableUpload();
      });

      document.getElementById("uploadDelta").addEventListener("change", function(){
        enableUpload();
      });

    setInterval(pushState, {{.SyncTime}});
  </script>
</body>

</html>
